.product-tile {
    display: inline-block;
    max-width: 300px;
    border: 2px;
    padding: 10px;
    border-color: black;
    border-radius: 5px;
    background-color: #a2b9bc;
    margin: 10px;
}

.product-image {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block;
}

.product-name {
    text-align: center;
}