html, body {
    width: 100%;
}


table {
    border-collapse: collapse;
    margin: 0 auto;
}
  
table, th, td {
    border: 1px solid black;
}

.cart_picture {
    max-width:125px;
    max-height:125px;
}

.table_box {
    width: 125px;
}