<%inherit file="/homepage/templates/base.htm" />
<%! from catalog import models as cmod %>

<%block name="site_title">Sprint 3</%block>

## Overridden Left Column
<%block name="left_column">
    <ul id="category-list">
        <li class="${ 'active' if category is None else '' }">
            <a href="/catalog/index/">All Products</a></li>
        % for cat in cmod.Category.objects.order_by('name'):
        <li class="${ 'active' if category == '${ cat.name }' else '' }">
            <a href="/catalog/index/${ cat.id }">${ cat.name }</a></li>
        % endfor
    </ul>
</%block>
