<%inherit file="app_base.htm" />

## Title
<%block name="title">Your Cart</%block>

## Content
<%block name="center_content">
    <div id="shopping_cart">
        <br />
        <table>
        ## Headers
            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Extended</th>
                <th>Actions</th>
            </tr>
        ## Content
        ## Logic to loop through SaleItems
            % for si in cartItems:
                <tr>   
                    <td></td>
                    <td>${ si.product.name }</td>
                    <td>${ si.quantity }</td>
                    <td>${ si.price }</td>
                    <td>${ si.price * si.quantity }</td>
                    <td><a class="button" href="/catalog/cart.remove/${ si.product.id }">Remove</a></td>
                </tr>
            %endfor
            <tr><td></td><td></td><td></td>
            <td></td><td></td><td></td></tr>
            <tr>
                <td></td>
                <td>Subtotal</td>
                <td></td><td></td>
                <td>${ sale.subtotal }</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Tax</td>
                <td></td><td></td>
                <td>${ sale.tax }</td>
                <td></td>
            </tr>
            <tr><td></td><td></td><td></td>
            <td></td><td></td><td></td></tr>
            <tr>
                <td></td>
                <td>Total</td>
                <td></td><td></td>
                <td>${ sale.total }</td>
                <td></td>
            </tr>
        </table>
    </div>
    <br />
    <div id="checkout_button">
        <a class="button btn btn-secondary" type="button" 
        id="dropdownMenuButton" href="/catalog/checkout/">Checkout Now</a>
    </div>
</%block>