<%inherit file="app_base.htm" />

## Content
<%block name="center_content">
    <div class="product-display">
        <div class="product-image-main"><img src="${ product.image_url() }" />
            <div class="product-display-below">
                %for images in allImages:
                    <img class="product-image-alt" src="${ images.image_url() }" />
                %endfor
            </div>
        </div>
        <div class="product-info-main">
            <table>
                <tr><th></th><th></th></tr>
                <tr><td>Name:</td><td>${ product.name }</td></tr>
                <tr><td>Price:</td><td>${ product.price }</td></tr>
                <tr><td>Description:</td><td>${ product.description }</td></tr>
                <tr><td>Quantity Available:</td><td>${ product.quantity }</td></tr>
            </table>
            <br />
            <div class="buy-now-form">
                <form method="post">
                    <table>
                        ${ form.as_table() }
                    </table>
                    <input type="submit" value="Buy Now" />
                </form>
            </div>
        </div>
        <br />
        <br />

    </div>

</%block>